.avis{
    display: flex;
    justify-content: space-around;
}

.avis section{
    width: 300px;
    height: 20px;
    padding: 10px;
    padding-bottom: 100px;
    background-color: RGB(244, 239, 234);
    margin:0;
    border:3px solid goldenrod;
    border-radius: 10px;

}


#btn2{
    background-color: RGB(190, 150, 105);
    margin-top: 45px;
    width: 200px;
    color:white;
    margin-left: 50%;
    margin-bottom: 50px;
    transform: translateX(-50%);
    padding: 10px;
}