#btn3{
    background-color: RGB(190, 150, 105);
}

footer{
    background-color: blanchedalmond;
    padding-top: 30px;
    height: 10%;
}
.footer{
    display: flex;
    justify-content: space-between;
    gap : 30px;
    margin-left:60%;
    margin-top: 40px;
}
.footer > li{
    list-style: none;
    padding: 10px 5px;
}


fieldset{
    border: 3px solid goldenrod;
}

.foot-link{
    text-decoration: none;
    color:black;
}