h2{
    margin-top: 80px;
}

.vente{
    display:flex;
}

.class{
    height: 25px;
    width:25px;
}

.vente{
    display: flex;
    justify-content: space-around;
}

.vente > section > img{
    height:200px;
    width:200px;
}

.vente > section {
    background-color: RGB(244, 239, 234);
    padding : 20px;
    color : black;
    margin-left: 5px;
    margin-right: 5px;
    border:3px solid goldenrod ;

}

.vente button{
    font-family: 'Urbanist', sans-serif;
    border-radius: 5px;
    padding : 5px;
    color: white;
    background-color: rgb(164, 120, 91);
}

.vente h4{
    margin: 0;
    padding: 2px;
}